/* Import Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --bkColor: #2b1d0f;
  --bkColorWhite: #ffffff;
  --bknav: #212121;
  --fontColorB: #000000;
  --fontColor: #ffffff;
  --fromBtnColor: #f44336;
  --fromBtnColorHover: #ff5c5c;
  --paragraphColor: #4a4a4a;
  --bkdetail: #694c2f;
}

body {
  background: var(--bkColor);
  color: var(--fontColor);
}
header nav {
  background-color: var(--bknav);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header nav h1 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
header nav form {
  display: flex;
  justify-content: center;
}

header nav form input[type="text"],
button[type="submit"] {
  flex-grow: 1;
  margin-right: 10px;
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}
form button[type="submit"] {
  background-color: var(--fromBtnColor);
  color: var(--fontColor);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
form button[type="submit"]:hover ,
.recipe-card button:hover,
.recipe-close-btn:hover
{
  background-color: var(--fromBtnColorHover);
  color: var(--fontColor);
  cursor: pointer;
}

/* main section */
.recipe-container {
  text-align: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  place-items: center;
}
.recipe-card {
  background-color: var(--bkColorWhite);
  display: flex;
  flex-direction: column;
  color: var(--fontColorB);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1),
    -5px -5px 10px rgba(34, 34, 34, 0.5);
  cursor: pointer;
  max-width: 350px;
  transition: transform 0.3s ease-in-out;
}
.recipe-card:hover {
  transform: scale(1.07);
} 
.recipe-card img {
  height: 300px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}
.recipe-card h3 {
  font-size: 24px;
  margin-block: 5px;
}
.recipe-card p {
  font-size: 20px;
  margin: 5px 0;
  color: var(--paragraphColor);
}
.recipe-card span {
  font-weight: 600;
}
.recipe-card button {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--fromBtnColor);
  color: var(--fontColor);
  margin: 18px auto;
}


.recipe-details {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: var(--bkdetail);
  border-radius: 12px;
  width: 40%;
  height: 60%;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  overflow:scroll ;
  
}
.recipe-details::-webkit-scrollbar{
  width: 10px;
 
}
.recipe-details::-webkit-scrollbar-thumb{
  background-color: var(--fromBtnColor);
  border-radius: 18px;
  --webkit-border-radius: 18px;
}
.recipe-details-content{
  padding: 20px;
}


.recipeName{
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 10px;
}

.ingredentList li {

  margin-top: 10px;
  margin-left: 20px;
}
.recipeInstractions p {
  line-height: 30px;
  line-break: strict;
  white-space: pre-line;
  font-size: 20px;
  
}


.recipeName,.ingredentList,.recipeInstractions{
  margin-bottom: 10px;
}
.recipe-close-btn{
  flex-grow: 1;
  margin-right: 10px;
  border: none;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  background-color: var(--fromBtnColor);
  color: var(--fontColor);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right:20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}
body::-webkit-scrollbar{
  width: 16px;
 
}
body::-webkit-scrollbar-thumb{
  background-color: var(--fromBtnColor);
  border-radius: 18px;
  --webkit-border-radius: 18px;
}
body::-webkit-scrollbar-track {
  background-color: var(--bkdetail);
  border-radius: 18px;
  --webkit-border-radius: 18px;
}



/* Responsive adjustments */
@media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }
  header nav form {
    width: 80%;
    margin-top: 20px;
  }
  .recipe-container {
    grid-template-columns: 1fr;
  }
  .recipe-card {
    max-width: 100%;
  }
  .recipe-details {
    width: 90%;
  }
  .recipe-details-content {
    padding: 10px;
  }
  .recipe-close-btn {
    top: 10px;
    right: 10px;
  }
  .recipe-details-content p {
    font-size: 16px;
  }
  .recipe-details-content h3 {
    font-size: 18px;
  }
  .recipe-details-content ul {
    margin-left: 20px;
  }
  .recipe-details-content li {
    margin-bottom: 5px;
  }
  .recipe-details-content li::before {
    content: "•";
    color: #555;
    margin-right: 5px;
  }  

}
@media screen and (max-width: 400px) {
  header nav form {
    width: 100%;
  }
  .recipe-container {
    grid-template-columns: 1fr;
  }
  .recipe-card {
    max-width: 100%;
  }
  .recipe-details {
    width: 90%;
  }
  .recipe-details-content {
    padding: 10px;
  }
  .recipe-close-btn {
    top: 10px;
    right: 10px;
  }
  .recipe-details-content p {
    font-size: 16px;
  }
  .recipe-details-content h3 {
    font-size: 18px;
  }
  .recipe-details-content ul {
    margin-left: 20px;
  }
  .recipe-details-content li {
    margin-bottom: 5px;
  }
  .recipe-details-content li::before {
    content: "•";
    color: #555;
    margin-right: 5px;
  }
  
}
